<section class="hero">
  <div class="hero-container">
    <h1 class="header-primary">
      fresh harvest box is your one-stop place for a delicious fruit basket
    </h1>
    <img
      class="hero-strawberries"
      srcset=".src/images/strawberries.jpg 1x, .src/images/strawberries@2x.jpg 2x"
      src=".src/images/strawberries.jpg"
      width="120"
      height="120"
      alt="strawberries"
    />
    <img
      class="hero-bananas"
      srcset=".src/images/bananas.jpg 1x, .src/images/bananas@2x.jpg 2x"
      src=".src/images/bananas.jpg"
      width="183,21"
      height="124,61"
      alt="bananas"
    />
    <button class="hero-btn" type="button">shop now</button>
    <p class="hero-description">
      Our expertly curated fruit baskets are made with the freshest, highest quality fruits
      available. Whether you are looking for a healthy snack or a gift for a loved one, Fresh
      Harvest Box has got you covered.
    </p>
    <class="watermelon-block">
      <img
        class="watermelon-image"
        srcset=".src/images/watermelon.jpg 1x, .src/images/watermelon@2x.jpg 2x"
        src=".src/images/watermelon.jpg"
        width="200"
        height="172"
        alt="watermelon"
      />
      <p class="hero-blocks-title">Fruit</p>
      <p class="hero-blocks-description">
        Refreshing and juicy, watermelon is the perfect summer treat and a great source of hydration
      </p>
      <svg class="hero-blocks-ovalshadow" width="239" height="38"><use href="./src/images/hero.svg#icon-Oval"></use></svg>
    </div>
    < class="strawberries-block">
      <img
        class="strawberries-image"
        srcset=".src/images/strawberry-basket.jpg 1x, .src/images/strawberry-basket@2x.jpg 2x"
        src=".src/images/strawberry-basket.jpg"
        width="162"
        height="185"
        alt="strawberry-basket"
      />
      <p class="hero-blocks-title">Fruit</p>
      <p class="hero-blocks-description">
        Sweet and juicy, strawberries are packed with vitamin C and antioxidants, making them a
        delicious and healthy snack
      </p>
    <svg class="hero-blocks-ovalshadow" width="239" height="38"><use href="./src/images/hero.svg#icon-Oval-1"></use></svg>
    </div>
    <div class="hashtag"><h3>#fruits</h3></div>
    <div class="hashtag"><h3>#basket</h3></div>
    <div class="hashtag"><h3>#products</h3></div>
    <div class="hashtag"><h3>#organic</h3></div>
  </div>
  <div class="hero-focus">
    <img
      class="hero-image"
      srcset=".src/images/young.jpg 1x, .src/images/young@2x.jpg 2x"
      src=".src/images/young.jpg"
      width="1053"
      height="702"
      alt="young-energetic-red-haired-woman-white-t-shirt-holding-tasty-oranges-pink-background"
    />
    <svg class="hero-image-vector" width="486" height="742"><use href="./src/images/hero.svg#icon-Vector-1"></use></svg>
  </div>
</section>
